<br><br>
<div class="sameline">
    <button class="button" (click)="activatecontent()">Branches</button>
    <button class="button">Faculty</button>
    <button class="button">Syllabus</button>
</div>
<br><br>
<div *ngIf = "activate===1">
    <div class = "grid-blocks" *ngFor = "let branch of branches">
        <b>{{ branch.full_name }}</b>
    </div>
    <button class = "grid-blocks" (click)="activateform=1"><b>Add Branch</b></button>
<form *ngIf = "activateform===1"  [formGroup]="branchForm" (ngSubmit)="onSubmit(branchForm.value)" >
    <label for="name"><b>Enter short name : </b>
    <input type="text" name="name" formControlName="name" />
    </label><br>
    <label for="full_name"><b>Enter the fullname :</b>
    <input type="text" name="full_name" formControlName="full_name"/>
    </label>
    <input type="submit" value="Save">
</form>
</div>
